Lib.Data.External/StatniPokladna/PrispevkoveOrg/monitorUcjed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ciselnik_UCJED_export_20201218">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="ucjed_id"/>
              <xs:element type="xs:int" name="csuis_ucjed_id"/>
              <xs:element type="xs:int" name="ico"/>
              <xs:element type="xs:string" name="start_date"/>
              <xs:element type="xs:string" name="end_date"/>
              <xs:element type="xs:string" name="nazev"/>
              <xs:element type="xs:string" name="dic"/>
              <xs:element type="xs:string" name="adresa"/>
              <xs:element type="xs:string" name="ulice"/>
              <xs:element type="xs:string" name="sidlo"/>
              <xs:element type="xs:string" name="psc"/>
              <xs:element type="xs:int" name="zrizovatel_id"/>
              <xs:element type="xs:int" name="zrizovatel_ico"/>
              <xs:element type="xs:byte" name="pocob"/>
              <xs:element type="xs:string" name="kraj"/>
              <xs:element type="xs:string" name="obec"/>
              <xs:element type="xs:string" name="konecplat"/>
              <xs:element type="xs:string" name="datumvzniku"/>
              <xs:element type="xs:string" name="datumakt"/>
              <xs:element type="xs:short" name="kapitola_id"/>
              <xs:element type="xs:byte" name="druhuj_id"/>
              <xs:element type="xs:short" name="poddruhuj_id"/>
              <xs:element type="xs:byte" name="katobyv_id"/>
              <xs:element type="xs:short" name="forma_id"/>
              <xs:element type="xs:byte" name="aktorg_id"/>
              <xs:element type="xs:int" name="nace_id"/>
              <xs:element type="xs:string" name="nuts_id"/>
              <xs:element type="xs:short" name="cofog_id"/>
              <xs:element type="xs:short" name="isektor_id"/>
              <xs:element type="xs:byte" name="druhrizeni_id"/>
              <xs:element type="xs:string" name="stat_id"/>
              <xs:element type="xs:string" name="typorg_id"/>
              <xs:element type="xs:string" name="zdrojfin_id"/>
              <xs:element type="xs:string" name="zpodm_id"/>
              <xs:element type="xs:byte" name="veduc_id"/>
              <xs:element type="xs:int" name="orp_id"/>
              <xs:element type="xs:string" name="pou_id"/>
              <xs:element type="xs:string" name="zuj_id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>