InsolvencniRejstrik/Connected Services/IsirWs/IsirWsPublicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://isirpublicws.cca.cz/types/" targetNamespace="http://isirpublicws.cca.cz/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="getIsirWsPublicIdDataRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="idPodnetu" type="xsd:long" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getIsirWsPublicDataResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="data" nillable="true" type="isirWsPublicData" />
        <xsd:element minOccurs="1" maxOccurs="1" name="status" type="isirWsPublicStatus" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="isirWsPublicData">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:long" />
      <xsd:element minOccurs="1" maxOccurs="1" name="datumZalozeniUdalosti" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="datumZverejneniUdalosti" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dokumentUrl" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="spisovaZnacka" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="typUdalosti" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="popisUdalosti" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oddil" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="cisloVOddilu" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="poznamka" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="isirWsPublicStatus">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="stav" type="stavType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="kodChyby" type="kodChybyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="popisChyby" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="stavType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OK" />
      <xsd:enumeration value="CHYBA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="kodChybyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="WS1" />
      <xsd:enumeration value="WS2" />
      <xsd:enumeration value="SERVER1" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>